/* Default (basic) skin for the theme
------------------------------------------------------------------------- */
/* TABLE OF CONTENTS:

1. Theme typography
2. Theme Accent Colors
   2.1 Common colors
3. Form fields settings
7. Section's decorations
   7.1 User and main menu
   7.2 Slider
   7.3 Top panel: Page title and breadcrumbs
   7.4 Main content wrapper
   7.5 Post Formats
   7.6 Post Layouts
   7.7 Paginations
8. Single page parts
   8.1 Attachment and Portfolio post navigation
   8.2 Reviews block
   8.3 Post author
   8.4 Comments
   8.5 Page 404
9. Sidebars
10. Footer areas
11. Utils
12. Registration and Login popups
13. Third party plugins
   13.1 Media player
   13.2 WooCommerce
   13.3 Tribe Events
   13.4 BB Press
14. Predefined classes for users
15. Shortcodes

-------------------------------------------------------------- */
/* 1. Theme typography
-------------------------------------------------------------- */
body {
  color: #8a8a8a;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #232a34;
}
/*h5 {
    text-transform: uppercase;
}*/
.scheme_dark h1,
.scheme_dark h2,
.scheme_dark h3,
.scheme_dark h4,
.scheme_dark h5,
.scheme_dark h6,
.scheme_dark h1 a,
.scheme_dark h2 a,
.scheme_dark h3 a,
.scheme_dark h4 a,
.scheme_dark h5 a,
.scheme_dark h6 a {
  color: #e0e0e0;
}
.scheme_light h1,
.scheme_light h2,
.scheme_light h3,
.scheme_light h4,
.scheme_light h5,
.scheme_light h6,
.scheme_light h1 a,
.scheme_light h2 a,
.scheme_light h3 a,
.scheme_light h4 a,
.scheme_light h5 a,
.scheme_light h6 a {
  color: #232a34;
}

blockquote,
blockquote p {
  color: #232a34;
}

/* 2.1 Common colors
-------------------------------------------------------------- */
/* Portfolio hovers */
.post_content.ih-item.circle.effect1.colored .info,
.post_content.ih-item.circle.effect2.colored .info,
.post_content.ih-item.circle.effect3.colored .info,
.post_content.ih-item.circle.effect4.colored .info,
.post_content.ih-item.circle.effect5.colored .info .info-back,
.post_content.ih-item.circle.effect6.colored .info,
.post_content.ih-item.circle.effect7.colored .info,
.post_content.ih-item.circle.effect8.colored .info,
.post_content.ih-item.circle.effect9.colored .info,
.post_content.ih-item.circle.effect10.colored .info,
.post_content.ih-item.circle.effect11.colored .info,
.post_content.ih-item.circle.effect12.colored .info,
.post_content.ih-item.circle.effect13.colored .info,
.post_content.ih-item.circle.effect14.colored .info,
.post_content.ih-item.circle.effect15.colored .info,
.post_content.ih-item.circle.effect16.colored .info,
.post_content.ih-item.circle.effect18.colored .info .info-back,
.post_content.ih-item.circle.effect19.colored .info,
.post_content.ih-item.circle.effect20.colored .info .info-back,
.post_content.ih-item.square.effect1.colored .info,
.post_content.ih-item.square.effect2.colored .info,
.post_content.ih-item.square.effect3.colored .info,
.post_content.ih-item.square.effect4.colored .mask1,
.post_content.ih-item.square.effect4.colored .mask2,
.post_content.ih-item.square.effect5.colored .info,
.post_content.ih-item.square.effect6.colored .info,
.post_content.ih-item.square.effect7.colored .info,
.post_content.ih-item.square.effect8.colored .info,
.post_content.ih-item.square.effect9.colored .info .info-back,
.post_content.ih-item.square.effect10.colored .info,
.post_content.ih-item.square.effect11.colored .info,
.post_content.ih-item.square.effect12.colored .info,
.post_content.ih-item.square.effect13.colored .info,
.post_content.ih-item.square.effect14.colored .info,
.post_content.ih-item.square.effect15.colored .info,
.post_content.ih-item.circle.effect20.colored .info .info-back,
.post_content.ih-item.square.effect_book.colored .info,
.post_content.ih-item.square.effect_more.colored .info,
.post_content.ih-item.square.effect_fade.colored .info,
.post_content.ih-item.square.effect_fade.colored:hover .info,
.post_content.ih-item.square.effect_dir.colored .info,
.post_content.ih-item.square.effect_shift.colored .info {
  color: #ffffff;
}
.post_content.ih-item.square.effect1.colored .info,
.post_content.ih-item.square.effect2.colored .info,
.post_content.ih-item.square.effect3.colored .info,
.post_content.ih-item.square.effect4.colored .mask1,
.post_content.ih-item.square.effect4.colored .mask2,
.post_content.ih-item.square.effect5.colored .info,
.post_content.ih-item.square.effect6.colored .info,
.post_content.ih-item.square.effect7.colored .info,
.post_content.ih-item.square.effect8.colored .info,
.post_content.ih-item.square.effect9.colored .info .info-back,
.post_content.ih-item.square.effect10.colored .info,
.post_content.ih-item.square.effect11.colored .info,
.post_content.ih-item.square.effect12.colored .info,
.post_content.ih-item.square.effect13.colored .info,
.post_content.ih-item.square.effect14.colored .info,
.post_content.ih-item.square.effect15.colored .info,
.post_content.ih-item.circle.effect20.colored .info .info-back,
.post_content.ih-item.square.effect_book.colored .info,
.post_content.ih-item.square.effect_more.colored .info,
.post_content.ih-item.square.effect_fade.colored .info,
.post_content.ih-item.square.effect_fade.colored:hover .info,
.post_content.ih-item.square.effect_dir.colored .info,
.post_content.ih-item.square.effect_shift.colored .info {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.post_content.ih-item .post_readmore .post_readmore_label,
.post_content.ih-item .info a,
.post_content.ih-item .info a > span {
  color: #ffffff;
}
.post_content.ih-item .post_readmore:hover .post_readmore_label,
.post_content.ih-item .info a:hover,
.post_content.ih-item .info a:hover > span {
  color: #ffffff;
}
/* Tables */
td,
th {
  border-color: #e4e7e8;
}
.sc_table table {
  /*overflow: hidden;*/
  /* In Chrome hide right and bottom borders for the table */
}
.sc_table table {
  color: #232a34;
}
.sc_table table tr:first-child {
  background-color: #189799;
}
.sc_table table tr:first-child {
  color: #ffffff;
}
.sc_table table tr:first-child th,
.sc_table table tr:first-child td {
  font-size: 0.8571em;
  line-height: 3.3433em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Asap';
  letter-spacing: 0.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* Table of contents */
pre.code,
#toc .toc_item.current,
#toc .toc_item:hover {
  border-color: #20c7ca;
}
::selection,
::-moz-selection {
  color: #ffffff;
}


/* 3. Form fields settings
-------------------------------------------------------------- */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"],
select,
textarea {
  color: #8a8a8a;
  background-color: #f7f7f7;

}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  color: #232a34;
  background-color: #f0f0f0;
}
.scheme_dark input[type="text"],
.scheme_dark input[type="number"],
.scheme_dark input[type="email"],
.scheme_dark input[type="search"],
.scheme_dark input[type="password"],
.scheme_dark select,
.scheme_dark textarea {
  color: #999999;
  background-color: #666666;
}
.scheme_light input[type="text"],
.scheme_light input[type="number"],
.scheme_light input[type="email"],
.scheme_light input[type="search"],
.scheme_light input[type="password"],
.scheme_light select,
.scheme_light textarea {
  color: #8a8a8a;
  background-color: #ffffff;
}
.scheme_dark input[type="text"]:focus,
.scheme_dark input[type="number"]:focus,
.scheme_dark input[type="email"]:focus,
.scheme_dark input[type="search"]:focus,
.scheme_dark input[type="password"]:focus,
.scheme_dark select:focus,
.scheme_dark textarea:focus {
  color: #d0d0d0;
  background-color: #505050;
}
.scheme_light input[type="text"]:focus,
.scheme_light input[type="number"]:focus,
.scheme_light input[type="email"]:focus,
.scheme_light input[type="search"]:focus,
.scheme_light input[type="password"]:focus,
.scheme_light select:focus,
.scheme_light textarea:focus {
  color: #232a34;
  background-color: #f0f0f0;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #acb4b6;
}


/* 6. Page layouts
-------------------------------------------------------------- */
.body_style_boxed .body_wrap {
  background: url(../wp-content/uploads/revslider/education_home_slider/blue.jpg) repeat left top scroll;
}
.body_style_boxed .body_wrap {
  background-color: #ffffff;
}


/* 7. Section's decorations
-------------------------------------------------------------- */
/* If in the Theme options set "Body filled", else - leave this sections transparent */
.page_wrap,
.copy_wrap,
.sidebar_cart,
.widget_area_inner {
  background-color: #ffffff;
}
.scheme_dark .page_wrap,
.scheme_dark .copy_wrap,
.scheme_dark .sidebar_cart,
.scheme_dark .widget_area_inner {
  background-color: #232315;
}
.scheme_light .page_wrap,
.scheme_light .copy_wrap,
.scheme_light .sidebar_cart,
.scheme_light .widget_area_inner {
  background-color: #f7f7f7;
}
.article_style_boxed.layout_excerpt .content,
.article_style_boxed[class*="single-"] .content > article,
.article_style_boxed[class*="single-"] .content > .comments_wrap,
.article_style_boxed:not(.layout_excerpt) .content .post_item {
  background-color: #ffffff;
}


/* 7.1 Top panel
-------------------------------------------------------------- */
.top_panel_wrap_inner {
  background-color: #ffffff;
}
.top_panel_fixed .top_panel_position_over.top_panel_wrap_inner {
  background-color: #f7f7f7 !important;
}
.top_panel_inner_style_3 .top_panel_cart_button,
.top_panel_inner_style_4 .top_panel_cart_button {
  background-color: rgba(24, 151, 153, 0.2);
}
.top_panel_style_8 .top_panel_buttons .top_panel_cart_button:after {
  color: #ffffff;
}
.top_panel_middle .sidebar_cart:after,
.top_panel_middle .sidebar_cart {
  border-color: #e4e7e8;
}
.top_panel_middle .sidebar_cart:after,
.top_panel_middle .sidebar_cart {
  background-color: #ffffff;
}
.top_panel_inner_style_3 .top_panel_top,
.top_panel_inner_style_4 .top_panel_top,
.top_panel_inner_style_5 .top_panel_top,
.top_panel_inner_style_3 .top_panel_top .sidebar_cart,
.top_panel_inner_style_4 .top_panel_top .sidebar_cart {
  color: #aeaeae;
}
.top_panel_inner_style_3 .top_panel_top {
    border-bottom: 2px solid #f5f5f5;
    background-color: #ffffff;
}
.top_panel_inner_style_3 .top_panel_cart_button {
    background-color:transparent;
}
.top_panel_top a {
  color: #8a8a8a;
}
.top_panel_top a:hover {
  color: #189799;
}
.top_panel_inner_style_1 .top_panel_top a,
.top_panel_inner_style_1 .sc_socials.sc_socials_type_icons a,
.top_panel_inner_style_3 .top_panel_top a,
.top_panel_inner_style_3 .sc_socials.sc_socials_type_icons a,
.top_panel_inner_style_4 .top_panel_top a,
.top_panel_inner_style_4 .sc_socials.sc_socials_type_icons a,
.top_panel_inner_style_5 .top_panel_top a,
.top_panel_inner_style_5 .sc_socials.sc_socials_type_icons a {
  color: #aeaeae;
}
.top_panel_inner_style_3 .top_panel_top a:hover,
.top_panel_inner_style_3 .sc_socials.sc_socials_type_icons a:hover,
.top_panel_inner_style_4 .top_panel_top a:hover,
.top_panel_inner_style_4 .sc_socials.sc_socials_type_icons a:hover,
.top_panel_inner_style_5 .top_panel_top a:hover,
.top_panel_inner_style_5 .sc_socials.sc_socials_type_icons a:hover {
  color: #ffffff;
}
.top_panel_inner_style_3 .top_panel_top .menu_user_nav .menu_user_cart .contact_label,
.top_panel_inner_style_3 .top_panel_top .menu_user_nav .menu_user_cart .contact_cart_totals {
    display: none;
}

/* User menu */
.menu_user_nav > li > a {
  color: #8a8a8a;
}
.top_panel_inner_style_3 .menu_user_nav > li > a,
.top_panel_inner_style_4 .menu_user_nav > li > a,
.top_panel_inner_style_5 .menu_user_nav > li > a {
  color: #aeaeae;
}
.top_panel_inner_style_3 .menu_user_nav > li > a:hover,
.top_panel_inner_style_4 .menu_user_nav > li > a:hover,
.top_panel_inner_style_5 .menu_user_nav > li > a:hover {
  color: #ffffff;
}
.menu_user_nav > li ul:not(.cart_list) {
  border-color: #e4e7e8;
    color: #ffffff;
}
.top_panel_inner_style_1 .menu_user_controls ul li a, .top_panel_inner_style_3 .menu_user_controls ul li a {
    color: #ffffff;
}
.top_panel_inner_style_1 .menu_user_nav > li > ul:after,
.top_panel_inner_style_2 .menu_user_nav > li > ul:after {
  border-color: #e4e7e8;
}

.top_panel_inner_style_2 .menu_user_nav > li > ul:after {
  background-color: #ffffff;
}
.top_panel_inner_style_3 .menu_user_nav > li > ul:after,
.top_panel_inner_style_4 .menu_user_nav > li > ul:after,
.top_panel_inner_style_5 .menu_user_nav > li > ul:after,
.top_panel_inner_style_3 .menu_user_nav > li ul,
.top_panel_inner_style_4 .menu_user_nav > li ul,
.top_panel_inner_style_5 .menu_user_nav > li ul {
  color: #ffffff;
}
.menu_user_nav > li > ul ul {
  left: 12em;
  margin-left:4px;
}
.menu_user_nav > li > ul ul.submenu_left {
  left: -12em;
  margin-left:-1px;
}
.menu_user_nav > li ul li a {
  color: #8a8a8a;
}
.menu_user_nav > li ul li a:hover,
.menu_user_nav > li ul li.current-menu-item > a,
.menu_user_nav > li ul li.current-menu-ancestor > a {
  color: #232a34;
}
.menu_user_nav > li ul li a:hover,
.menu_user_nav > li ul li.current-menu-item > a,
.menu_user_nav > li ul li.current-menu-ancestor > a {
  background-color: #f0f0f0;
}
.menu_user_nav > li.menu_user_controls .user_avatar {
  border-color: #e4e7e8;
}
.top_panel_inner_style_3 .menu_user_nav > li.menu_user_controls .user_avatar,
.top_panel_inner_style_4 .menu_user_nav > li.menu_user_controls .user_avatar,
.top_panel_inner_style_5 .menu_user_nav > li.menu_user_controls .user_avatar {
  border-color: #ffffff;
}

/* Bookmarks */
.menu_user_nav > li.menu_user_bookmarks .bookmarks_add {
  border-bottom-color: #dddddd;
}

/* Top panel - middle area */
.top_panel_middle {
  background-color: #ffffff;
}
.top_panel_inner_style_1 .top_panel_middle {
    background-color: #f7f7f7;
}

.top_panel_middle .logo {
    margin-top:3.5em ;/*39px*/
    margin-bottom:2.1923em ;/*31px*/
}
.top_panel_style_1 .top_panel_middle .logo {
    margin-top:2.952em ;
}
.top_panel_position_over.top_panel_middle {
  background-color: rgba(247, 247, 247, 0.75);
}
.logo .logo_text {
    color: #232a34;
    font-size: 1.8571em;
    font-weight: 700;
    line-height: 0.9114em;
    letter-spacing: -0.0500em;
    /*letter-spacing: -1.5px;*/
}
.scheme_dark .logo .logo_text {		color: #e0e0e0; }
.scheme_light .logo .logo_text {	color: #232a34; }
.logo .logo_slogan {				color: #8a8a8a; }
.scheme_dark .logo .logo_slogan {	color: #909090; }
.scheme_light .logo .logo_slogan {	color: #8a8a8a; }

/* Top panel - bottom area */

.top_panel_inner_style_1 .top_panel_bottom .menu_main_nav > li:hover > a,
.top_panel_inner_style_1 .top_panel_bottom .menu_main_nav > li.current-menu-item > a,
.top_panel_inner_style_1 .top_panel_bottom .menu_main_nav > li.current-menu-parent > a,
.top_panel_inner_style_1 .top_panel_bottom .menu_main_nav > li.current-menu-ancestor > a {
    border-bottom-color: #ffffff;
}

/* Top panel image in the header 7  */
.top_panel_image_header,
.top_panel_image_title,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .logo_text,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .logo_slogan {
  color: #ffffff;
}
.top_panel_image_header a,
.top_panel_image_title > a,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .menu_main_nav > li > a {
  color: #ffffff;
}
.post_featured .post_header a:hover,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .menu_main_nav > li > a:hover {
  color: #ffffff;
}

/* Main menu */
.menu_main_nav > li {
    padding: 0.95em 0.85em 0.9em 0.85em;
}
.top_panel_inner_style_1 .menu_main_nav > li {
    padding: 1.99em 1.8em 1.6em 1em;
}

.menu_main_nav > li > a {
   color: #404552;
    padding-bottom: 0.1538em;
    line-height: 1.3em;
    font-size:0.9285em ;
    font-weight: 700;
    text-transform: uppercase;
}
.menu_main_nav > li.donate > a:before {
    content:'\e90e';
    font-family:fontello;
    display:inline;

}
.menu_main_nav > li#blob {
    border-radius: 5px;
}
.top_panel_position_over .menu_main_nav > li.donate > a, .top_panel_position_over .menu_main_nav > li.donate > a:before {
    color: #ffffff;
}
.top_panel_position_over .menu_main_nav > li.donate {
    border-radius: 5px;
}
.top_panel_position_over .menu_main_nav > li.donate a:hover {
    border: none;
}
.top_panel_position_over .menu_main_nav > li.donate:hover a {
    border: none;
}

.top_panel_inner_style_1 .menu_main_nav > li > a,
.top_panel_inner_style_2 .menu_main_nav > li > a {
  color: #ffffff;
}
.top_panel_inner_style_1 .menu_main_nav > li > a:hover,
.top_panel_inner_style_2 .menu_main_nav > li > a:hover {
  color: #ffffff;
}
.menu_main_nav > li ul {
  color: #232a34;
  background-color: #f7f7f7;
  border-color: #dddddd;
}
.menu_main_nav > li > ul {
  top: 4.5em;
}
.top_panel_inner_style_1 .menu_main_nav > li ul{
    top: 5.1em;
}
.top_panel_inner_style_1 .menu_main_nav > li ul ul{
    top: -1px;
}
.top_panel_inner_style_1 .menu_main_nav > a:hover,
.top_panel_inner_style_1 .menu_main_nav > li.sfHover > a,
.top_panel_inner_style_1 .menu_main_nav > li#blob,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-item > a,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-parent > a,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-ancestor > a,
.top_panel_inner_style_2 .menu_main_nav > a:hover,
.top_panel_inner_style_2 .menu_main_nav > li.sfHover > a,
.top_panel_inner_style_2 .menu_main_nav > li#blob,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-item > a,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-parent > a,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-ancestor > a {
  color: #ffffff;
}
.menu_main_nav > li ul li a {
  color: #232a34;
}
.menu_main_nav > li ul li a:hover,
.menu_main_nav > li ul li.current-menu-item > a,
.menu_main_nav > li ul li.current-menu-ancestor > a {
  background-color: #f0f0f0;
}
.top_panel_inner_style_1 .menu_main_nav > li ul li a,
.top_panel_inner_style_2 .menu_main_nav > li ul li a {
  color: #ffffff;
}
.top_panel_inner_style_1 .menu_main_nav > li ul li a:hover,
.top_panel_inner_style_1 .menu_main_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_1 .menu_main_nav > li ul li.current-menu-ancestor > a,
.top_panel_inner_style_2 .menu_main_nav > li ul li a:hover,
.top_panel_inner_style_2 .menu_main_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_2 .menu_main_nav > li ul li.current-menu-ancestor > a {
  color: #ffffff;
}

/* Relayout menu */
.top_panel_inner_style_1 .search_wrap,
.top_panel_inner_style_2 .search_wrap {
  border-color: rgba(255, 255, 255, 0.1);
}

/* Responsive menu */
.menu_main_responsive_button {
  color: #8a8a8a;
}
.top_panel_inner_style_1 .menu_main_responsive_button,
.top_panel_inner_style_2 .menu_main_responsive_button,
.top_panel_inner_style_1 .menu_main_responsive a,
.top_panel_inner_style_2 .menu_main_responsive a,
.top_panel_inner_style_1 .menu_main_responsive li.menu-item-has-children:after,
.top_panel_inner_style_2 .menu_main_responsive li.menu-item-has-children:after {
  color: #ffffff;
}
.top_panel_inner_style_1 .menu_main_responsive_button:hover,
.top_panel_inner_style_2 .menu_main_responsive_button:hover,
.top_panel_inner_style_1 .menu_main_responsive a:hover,
.top_panel_inner_style_2 .menu_main_responsive a:hover {
  color: #ffffff;
}
.menu_main_responsive {
  background-color: #f7f7f7;
}
.menu_main_responsive li,
.menu_main_responsive a {
  color: #8a8a8a;
}
.menu_main_responsive a:hover {
  background-color: #f0f0f0;
}
.top_panel_inner_style_1 .menu_main_responsive li,
.top_panel_inner_style_1 .menu_main_responsive a,
.top_panel_inner_style_2 .menu_main_responsive li,
.top_panel_inner_style_2 .menu_main_responsive a {
  color: #ffffff;
}

/* Contact fields */
.top_panel_middle .contact_field,
.top_panel_middle .contact_field > a {
  color: #232a34;
}
.top_panel_middle .contact_icon {
  color: #acb4b6;
}
.top_panel_middle .contact_icon {
  background-color: #ffffff;
}
/* Search field */
.top_panel_inner_style_4 .search_form_wrap {
  background-color: rgba(35, 42, 52, 0.05);
}
.content .search_form_wrap {
  background-color: #f7f7f7;
}
.content .search_field,
.content .search_submit {
  color: #8a8a8a;
}
.content .search_field:focus,
.content .search_submit:hover {
  color: #232a34;
}

.top_panel_inner_style_1 .search_field,
.top_panel_inner_style_1 .search_submit,
.top_panel_inner_style_2 .search_field,
.top_panel_inner_style_2 .search_submit,
.top_panel_inner_style_4 .search_field,
.top_panel_inner_style_4 .search_submit {
  color: #232a34;
}

.top_panel_inner_style_1 .search_field,
.top_panel_inner_style_1 .search_submit {
    color: #ffffff;
    opacity: 0.6;
}
.top_panel_inner_style_1 .search_field::-moz-placeholder {
    color:#ffffff;
    font-size: 12px;
}
.top_panel_inner_style_1 .search_field::-webkit-input-placeholder {
    color:#ffffff;
    font-size: 12px;
}
.top_panel_inner_style_1 .search_field:-ms-input-placeholder {
    color:#ffffff;
    font-size: 12px;
}

.top_panel_inner_style_3 .search_field {
  color: #ffffff;
}
.top_panel_icon {
  padding: 0;
}
.top_panel_icon .contact_icon,
.top_panel_icon .search_submit {
 color: #aeaeae;
}

.top_panel_icon.search_wrap,
.top_panel_inner_style_5 .menu_main_responsive_button,
.top_panel_inner_style_6 .menu_main_responsive_button,
.top_panel_inner_style_7 .menu_main_responsive_button {
  background-color: #ffffff;
}
.top_panel_icon.menu_main_cart .contact_icon {
  background-color: #ffffff;
}
.top_panel_middle a:hover .contact_icon,
.top_panel_icon:hover .contact_icon,
.top_panel_inner_style_5 .menu_main_responsive_button:hover,
.top_panel_inner_style_6 .menu_main_responsive_button:hover,
.top_panel_inner_style_7 .menu_main_responsive_button:hover {
  color: #ffffff;
}

/* Search results */
.top_panel_inner_style_1 .search_results,
.top_panel_inner_style_1 .search_results:after,
.top_panel_inner_style_2 .search_results,
.top_panel_inner_style_2 .search_results:after,
.top_panel_inner_style_3 .search_results,
.top_panel_inner_style_3 .search_results:after {
  color: #ffffff;
}
.top_panel_inner_style_1 .search_results a,
.top_panel_inner_style_1 .search_results .post_info a,
.top_panel_inner_style_1 .search_results .post_info a > span,
.top_panel_inner_style_1 .search_results .post_more,
.top_panel_inner_style_1 .search_results .search_results_close,
.top_panel_inner_style_2 .search_results a,
.top_panel_inner_style_2 .search_results .post_info a,
.top_panel_inner_style_2 .search_results .post_info a > span,
.top_panel_inner_style_2 .search_results .post_more,
.top_panel_inner_style_2 .search_results .search_results_close,
.top_panel_inner_style_3 .search_results a,
.top_panel_inner_style_3 .search_results .post_info a,
.top_panel_inner_style_3 .search_results .post_info a > span,
.top_panel_inner_style_3 .search_results .post_more,
.top_panel_inner_style_3 .search_results .search_results_close {
  color: #ffffff;
}
.top_panel_inner_style_1 .search_results a:hover,
.top_panel_inner_style_1 .search_results .post_info a:hover,
.top_panel_inner_style_1 .search_results .post_info a:hover > span,
.top_panel_inner_style_1 .search_results .post_more:hover,
.top_panel_inner_style_1 .search_results .search_results_close:hover,
.top_panel_inner_style_2 .search_results a:hover,
.top_panel_inner_style_2 .search_results .post_info a:hover,
.top_panel_inner_style_2 .search_results .post_info a:hover > span,
.top_panel_inner_style_2 .search_results .post_more:hover,
.top_panel_inner_style_2 .search_results .search_results_close:hover,
.top_panel_inner_style_3 .search_results a:hover,
.top_panel_inner_style_3 .search_results .post_info a:hover,
.top_panel_inner_style_3 .search_results .post_info a:hover > span,
.top_panel_inner_style_3 .search_results .post_more:hover,
.top_panel_inner_style_3 .search_results .search_results_close:hover {
  color: #ffffff;
}

.top_panel_inner_style_8 .menu_pushy_wrap .menu_pushy_button,
.top_panel_inner_style_8 .top_panel_buttons .contact_icon,
.top_panel_inner_style_8 .top_panel_buttons .top_panel_icon .search_submit {
  color: #8a8a8a;
}
.top_panel_inner_style_8 .menu_pushy_wrap .menu_pushy_button:hover,
.top_panel_inner_style_8 .top_panel_buttons a:hover .contact_icon,
.top_panel_inner_style_8 .top_panel_buttons .top_panel_icon:hover .search_submit {
  color: #232a34;
}


/* 7.2 Slider
-------------------------------------------------------------- */
.tparrows.default {
  color: #ffffff;
}
.tp-bullets.simplebullets.round .bullet {
  background-color: #ffffff;
}
.tp-bullets.simplebullets.round .bullet.selected {
  border-color: #ffffff;
}

/* 7.3 Top panel: Page title and breadcrumbs
-------------------------------------------------------------- */
.top_panel_title_inner {
  background-color: #f0f0f0;
}
.top_panel_title_inner {
  border-color: rgba(221, 221, 221, 0.1);
}
.top_panel_title_inner .page_title {
  color: #00b3e7;
}
.top_panel_title_inner .breadcrumbs a.breadcrumbs_item {
  color: #232a34;
}
.top_panel_title_inner .breadcrumbs a.breadcrumbs_item:hover {
  color: #acb4b6;
}
.top_panel_title_inner .breadcrumbs span {
  color: #acb4b6;
}
.top_panel_title_inner .breadcrumbs .breadcrumbs_delimiter {
  color: #acb4b6;
}

/* 7.5 Post formats
-------------------------------------------------------------- */
/* Aside */
.post_format_aside.post_item_single .post_content p,
.post_format_aside .post_descr {
  background-color: #ffffff;
}

/* 7.6 Posts layouts
-------------------------------------------------------------- */
.post_info {
  line-height: 1.2em;
  font-style: normal;
  margin-bottom: 2.5em;
    font-size: 0.85em;
}
.post_info a,
.post_info a > span {
  color: #8a8a8a;
}
.post_item .post_readmore_label {
  color: #232a34;
}

/* Related posts */
.post_item_related .post_info a {
  color: #8a8a8a;
}
.related_wrap .post_item_related,
.article_style_stretch .post_item_related {
  background-color: #f7f7f7;
}
.article_style_boxed.sidebar_show[class*="single-"] .related_wrap .post_item_related {
  background-color: #ffffff;
}

/* Style "Colored" */
.isotope_item_colored .post_featured .post_mark_new,
.isotope_item_colored .post_featured .post_title,
.isotope_item_colored .post_content.ih-item.square.colored .info {
  color: #ffffff;
}
.isotope_item_colored .post_featured .post_title a {
  color: #ffffff;
}
.isotope_item_colored .post_featured .post_descr {
  background-color: #ffffff;
}
.isotope_item_colored .post_info_wrap .post_button .sc_button {
  background-color: #ffffff;
}

/* Isotope filters */
.isotope_filters a {
  color: #ffffff;
}
.isotope_filters a:hover{color: #ffffff}

/* 7.7 Paginations
-------------------------------------------------------------- */
/* Style 'Pages' and 'Slider' */
.pagination_single > .pager_numbers,
.pagination_single a,
.pagination_slider .pager_cur,
.pagination_pages > a,
.pagination_pages > span {
  color: #ffffff;
}
.pagination_single > .pager_numbers,
.pagination_single a:hover,
.pagination_slider .pager_cur:hover,
.pagination_slider .pager_cur:focus,
.pagination_pages > .active,
.pagination_pages > a:hover {
  background-color: #ffffff;
}
.pagination_slider .pager_slider {
  border-color: #e4e7e8;
}
.pagination_slider .pager_slider {
  background-color: #ffffff;
}

/* Style 'Load more' */
.pagination_viewmore > a {
  color: #ffffff;
}
.pagination_viewmore > a:hover {
  color: #ffffff;
}
.pagination_viewmore > a:hover {
  background-color: #189799;
}

/* 8 Single page parts
-------------------------------------------------------------- */

/* 8.1 Attachment and Portfolio post navigation
------------------------------------------------------------- */
.post_featured .post_nav_item {
  color: #ffffff;
}
.post_featured .post_nav_item:before {
  border-color: transparent;
}
.post_featured .post_nav_item:before {
  color: #ffffff;
}

/* 8.2 Reviews block
-------------------------------------------------------------- */
.reviews_block .reviews_summary .reviews_item {
  background-image: url(../../images/rating_summary_bg.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.reviews_block .reviews_max_level_100 .reviews_stars_hover,
.reviews_block .reviews_item .reviews_slider {
  color: #ffffff;
}
.reviews_block .reviews_value {
  color: #232a34;
}
.reviews_block .reviews_summary .reviews_criteria {
  color: #8a8a8a;
}
.reviews_block .reviews_summary .reviews_value {
  color: #ffffff;
}

/* 8.3 Post author
-------------------------------------------------------------- */
.post_author {
  background-color: #f7f7f7;
}
.post_author {
  color: #232a34;
}
.post_author .post_author_title {
  color: #232a34;
}
.post_author .post_author_title a {
  color: #20c7ca;
}
.post_author .post_author_title a:hover {
  color: #189799;
}


/* 9. Sidebars
-------------------------------------------------------------- */

/* Side menu */
.sidebar_outer_menu .menu_side_nav li > a,
.sidebar_outer_menu .menu_side_responsive li > a {
  color: #232a34;
}
.scheme_dark .sidebar_outer_menu .menu_side_nav li > a,
.scheme_dark .sidebar_outer_menu .menu_side_responsive li > a {
  color: #e0e0e0;
}
.scheme_light .sidebar_outer_menu .menu_side_nav li > a,
.scheme_light .sidebar_outer_menu .menu_side_responsive li > a {
  color: #232a34;
}
.sidebar_outer_menu .menu_side_nav li > a:hover,
.sidebar_outer_menu .menu_side_nav li.sfHover > a,
.sidebar_outer_menu .menu_side_responsive li > a:hover,
.sidebar_outer_menu .menu_side_responsive li.sfHover > a {
  color: #232a34;
  background-color: #f0f0f0;
}
.scheme_dark .sidebar_outer_menu .menu_side_nav li > a:hover,
.scheme_dark .sidebar_outer_menu .menu_side_nav li.sfHover > a,
.scheme_dark .sidebar_outer_menu .menu_side_responsive li > a:hover,
.scheme_dark .sidebar_outer_menu .menu_side_responsive li.sfHover > a {
  color: #d0d0d0;
  background-color: #505050;
}
.scheme_light .sidebar_outer_menu .menu_side_nav li > a:hover,
.scheme_light .sidebar_outer_menu .menu_side_nav li.sfHover > a,
.scheme_light .sidebar_outer_menu .menu_side_responsive li > a:hover,
.scheme_light .sidebar_outer_menu .menu_side_responsive li.sfHover > a {
  color: #232a34;
  background-color: #f0f0f0;
}
.sidebar_outer_menu .menu_side_nav > li ul,
.sidebar_outer_menu .menu_side_responsive > li ul {
  color: #232a34;
  background-color: #ffffff;
  border-color: #e4e7e8;
}
.scheme_dark .sidebar_outer_menu .menu_side_nav > li ul,
.scheme_dark .sidebar_outer_menu .menu_side_responsive > li ul {
  color: #e0e0e0;
  background-color: #232315;
  border-color: #000000;
}
.scheme_light .sidebar_outer_menu .menu_side_nav > li ul,
.scheme_light .sidebar_outer_menu .menu_side_responsive > li ul {
  color: #232a34;
  background-color: #f7f7f7;
  border-color: #dddddd;
}
.sidebar_outer_menu .menu_side_nav li.current-menu-item > a,
.sidebar_outer_menu .menu_side_nav li.current-menu-parent > a,
.sidebar_outer_menu .menu_side_nav li.current-menu-ancestor > a,
.sidebar_outer_menu .menu_side_responsive li.current-menu-item > a,
.sidebar_outer_menu .menu_side_responsive li.current-menu-parent > a,
.sidebar_outer_menu .menu_side_responsive li.current-menu-ancestor > a {
  color: #acb4b6;
}
.scheme_dark .sidebar_outer_menu .menu_side_nav li.current-menu-item > a,
.scheme_dark .sidebar_outer_menu .menu_side_nav li.current-menu-parent > a,
.scheme_dark .sidebar_outer_menu .menu_side_nav li.current-menu-ancestor > a,
.scheme_dark .sidebar_outer_menu .menu_side_responsive li.current-menu-item > a,
.scheme_dark .sidebar_outer_menu .menu_side_responsive li.current-menu-parent > a,
.scheme_dark .sidebar_outer_menu .menu_side_responsive li.current-menu-ancestor > a {
  color: #aaaaaa;
}
.scheme_light .sidebar_outer_menu .menu_side_nav li.current-menu-item > a,
.scheme_light .sidebar_outer_menu .menu_side_nav li.current-menu-parent > a,
.scheme_light .sidebar_outer_menu .menu_side_nav li.current-menu-ancestor > a,
.scheme_light .sidebar_outer_menu .menu_side_responsive li.current-menu-item > a,
.scheme_light .sidebar_outer_menu .menu_side_responsive li.current-menu-parent > a,
.scheme_light .sidebar_outer_menu .menu_side_responsive li.current-menu-ancestor > a {
  color: #acb4b6;
}
.sidebar_outer_menu .sidebar_outer_menu_buttons > a {
  color: #232a34;
}
.scheme_dark .sidebar_outer_menu .sidebar_outer_menu_buttons > a {
  color: #e0e0e0;
}
.scheme_light .sidebar_outer_menu .sidebar_outer_menu_buttons > a {
  color: #232a34;
}

/* Common rules */
.sidebar_outer_inner aside,
.sidebar_inner aside {
  border-top-color: #e4e7e8;
}
.scheme_dark .sidebar_outer_inner aside,
.scheme_dark .sidebar_inner aside {
  border-top-color: #000000;
}
.scheme_light .sidebar_outer_inner aside,
.scheme_light .sidebar_inner aside {
  border-top-color: #dddddd;
}
.sidebar_inner aside:nth-child(3n+4),
.sidebar_inner aside:nth-child(3n+5),
.sidebar_inner aside:nth-child(3n+6),
.sidebar_outer_inner aside:nth-child(3n+4),
.sidebar_outer_inner aside:nth-child(3n+5),
.sidebar_outer_inner aside:nth-child(3n+6),
.widget_area_inner aside:nth-child(2n+3),
.widget_area_inner aside:nth-child(2n+4),
.widget_area_inner aside + aside {
  border-color: #e4e7e8;
}
.scheme_dark .sidebar_inner aside:nth-child(3n+4),
.scheme_dark .sidebar_inner aside:nth-child(3n+5),
.scheme_dark .sidebar_inner aside:nth-child(3n+6),
.scheme_dark .sidebar_outer_inner aside:nth-child(3n+4),
.scheme_dark .sidebar_outer_inner aside:nth-child(3n+5),
.scheme_dark .sidebar_outer_inner aside:nth-child(3n+6),
.scheme_dark .widget_area_inner aside:nth-child(2n+3),
.scheme_dark .widget_area_inner aside:nth-child(2n+4),
.scheme_dark .widget_area_inner aside + aside {
  border-color: #000000;
}
.scheme_light .sidebar_inner aside:nth-child(3n+4),
.scheme_light .sidebar_inner aside:nth-child(3n+5),
.scheme_light .sidebar_inner aside:nth-child(3n+6),
.scheme_light .sidebar_outer_inner aside:nth-child(3n+4),
.scheme_light .sidebar_outer_inner aside:nth-child(3n+5),
.scheme_light .sidebar_outer_inner aside:nth-child(3n+6),
.scheme_light .widget_area_inner aside:nth-child(2n+3),
.scheme_light .widget_area_inner aside:nth-child(2n+4),
.scheme_light .widget_area_inner aside + aside {
  border-color: #dddddd;
}

.widget_area_inner ul li:before {
  font-size: 1.5em;
}

.widget_area_inner ul li:last-child {
    border-bottom:none;
}
.sidebar .widget_area_inner ul li {padding: 0.5em 0 1.05em;}
.sidebar .widget_area_inner ul li.sc_tabs_title {padding: 0.5em 0 0;}

/* Widget: Search */
.scheme_dark .widget_area_inner .widget_product_search .search_form,
.scheme_dark .widget_area_inner .widget_search .search_form {
  background-color: #666666;
}
.scheme_light .widget_area_inner .widget_product_search .search_form,
.scheme_light .widget_area_inner .widget_search .search_form {
  background-color: #ffffff;
}
.widget_area_inner .widget_product_search .search_field,
.widget_area_inner .widget_search .search_field {
  color: #8a8a8a;
}
.widget_area_inner .widget_product_search .search_button,
.widget_area_inner .widget_search .search_button {
  color: #8a8a8a;
}
.widget_area_inner .widget_product_search .search_button:hover,
.widget_area_inner .widget_search .search_button:hover {
  color: #232a34;
}

/* Widget: Calendar */
.widget_area_inner .widget_calendar .weekday {
  color: #33363e;
    font-size: 0.7em;
    font-weight: 700;
}
.widget_area_inner .widget_calendar td a:hover {
  color: #ffffff;
}

/* Widget: Tag Cloud */
.widget_area_inner .widget_product_tag_cloud a,
.widget_area_inner .widget_tag_cloud a {
  color: #97979e;
    background-color: transparent;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-transform: capitalize;
}
.widget_area_inner .widget_product_tag_cloud a,
.widget_area_inner .widget_tag_cloud a:hover {
    color: #ffffff;
}

/* Widget: Slider */
.widget_area_inner .widget_revslider .rev_slider_wrapper{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.widget_area_inner .widget_revslider .rev_slider_wrapper .tp-bullets.simplebullets.round .bullet.selected {
    background-color: #dcdcdc;
}
.widget_area_inner .widget_revslider .rev_slider_wrapper .tp-bullets.simplebullets.round .bullet {
    border:2px solid #dcdcdc;
    bottom: -25px;
    margin-left: 5px;
}
.widget_area_inner .widget_revslider .rev_slider_wrapper .tparrows.default {
    display: none;
}
.widget_area_inner .widget_revslider .rev_slider_wrapper .tp-bullets.simplebullets.round .bullet {
    height: 7px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    width: 7px;
}
.widget_area_inner .widget_revslider .rev_slider_wrapper .rev_slider > ul > li {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/* Widget: RSS */
.widget_area_inner .widget_rss .widget_title .rsswidget img {
    display: none;
}



/* 10. Footer areas
-------------------------------------------------------------- */
/* Contacts */
.contacts_wrap_inner {
  color: #8a8a8a;
  background-color: #ffffff;
}
.scheme_dark .contacts_wrap_inner {
  color: #909090;
  background-color: #232315;
}
.scheme_light .contacts_wrap_inner {
  color: #8a8a8a;
  background-color: #f7f7f7;
}

/* Testimonials and Twitter */
.testimonials_wrap,
.testimonials_wrap .sc_testimonials,
.twitter_wrap,
.twitter_wrap .sc_twitter {
  color: #f0f0f0;
}
.testimonials_wrap a,
.twitter_wrap a {
  color: #ffffff;
}

/* Copyright */
.copyright_wrap_inner {
  background-color: #252326;
}
.copyright_wrap_inner .copyright_text {
  color: #97979e;
}
.copyright_wrap_inner .menu_footer_nav li a {
  color: #8a8a8a;
}
.scheme_dark .copyright_wrap_inner {
  background-color: #232315;
}
.scheme_light .copyright_wrap_inner {
  background-color: #f7f7f7;
}
.scheme_dark .copyright_wrap_inner .copyright_text {
  color: #e0e0e0;
}
.scheme_light .copyright_wrap_inner .copyright_text {
  color: #232a34;
}
.scheme_dark .copyright_wrap_inner .menu_footer_nav li a {
  color: #909090;
}
.scheme_light .copyright_wrap_inner .menu_footer_nav li a {
  color: #8a8a8a;
}
.copyright_wrap_inner .sc_socials.sc_socials_type_icons a {
    background-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0
    -moz-border-radius: 0;
    color:#97979e;
}
.copyright_wrap_inner .sc_socials.sc_socials_type_icons a:hover {
    background-color: transparent;
}



/* 11. Utils
-------------------------------------------------------------- */
/* Scroll to top */
.scroll_to_top {
  border: none;
}
.scroll_to_top {
  color: #ffffff;
}
.scroll_to_top:hover {
  color: #ffffff;
}
.custom_options #co_toggle {
  color: #ffffff;
}

/* 12. Registration and Login popups
-------------------------------------------------------------- */
.popup_wrap {
  background-color: #ffffff;
}


/* 13. Third party plugins
------------------------------------------------------- */

/* 13.2 WooCommerce
------------------------------------------------------ */

/* Theme colors */
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-account .addresses .title .edit {
  color: #ffffff;
}
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-account .addresses .title .edit:hover {
  color: #ffffff;
}

/* Messages */
.article_style_boxed.woocommerce .woocommerce-error,
.article_style_boxed.woocommerce .woocommerce-info,
.article_style_boxed.woocommerce .woocommerce-message,
.article_style_boxed.woocommerce-page .woocommerce-error,
.article_style_boxed.woocommerce-page .woocommerce-info,
.article_style_boxed.woocommerce-page .woocommerce-message {
  background-color: #f7f7f7;
}
.article_style_boxed.woocommerce.archive .woocommerce-error,
.article_style_boxed.woocommerce.archive .woocommerce-info,
.article_style_boxed.woocommerce.archive .woocommerce-message,
.article_style_boxed.woocommerce-page.archive .woocommerce-error,
.article_style_boxed.woocommerce-page.archive .woocommerce-info,
.article_style_boxed.woocommerce-page.archive .woocommerce-message {
  background-color: #ffffff;
}

/* Products stream */
.woocommerce span.new,
.woocommerce-page span.new,
.woocommerce span.onsale,
.woocommerce-page span.onsale {
  color: #ffffff;
}
.article_style_boxed.woocommerce ul.products li.product .post_item_wrap,
.article_style_boxed.woocommerce-page ul.products li.product .post_item_wrap {
  background-color: #ffffff;
}

/* Pagination */
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span.current {
  color: #ffffff;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
  background-color: #ffffff;
}

/* Single product */
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel {
  border-color: #e4e7e8;
}

/* Cart */
.woocommerce table.cart thead th,
.woocommerce #content table.cart thead th,
.woocommerce-page table.cart thead th,
.woocommerce-page #content table.cart thead th {
  color: #ffffff;
}

/* Widgets */
.top_panel_inner_style_4 .widget_shopping_cart .empty,
.top_panel_inner_style_4 .widget_shopping_cart .quantity,
.top_panel_inner_style_4 .widget_shopping_cart .quantity .amount,
.top_panel_inner_style_4 .widget_shopping_cart .total,
.top_panel_inner_style_4 .widget_shopping_cart .total .amount {
  color: #ffffff;
}

/* 13.3 Tribe Events
------------------------------------------------------- */
/* Buttons */
a.tribe-events-read-more,
.tribe-events-button,
.tribe-events-nav-previous a,
.tribe-events-nav-next a,
.tribe-events-widget-link a,
.tribe-events-viewmore a {
  color: #ffffff;
}
a.tribe-events-read-more:hover,
.tribe-events-button:hover,
.tribe-events-nav-previous a:hover,
.tribe-events-nav-next a:hover,
.tribe-events-widget-link a:hover,
.tribe-events-viewmore a:hover {
  color: #ffffff;
}

/* 13.4 BB Press and Buddy Press
------------------------------------------------------- */
/* Buttons */
#bbpress-forums div.bbp-topic-content a,
#buddypress button,
#buddypress a.button,
#buddypress input[type="submit"],
#buddypress input[type="button"],
#buddypress input[type="reset"],
#buddypress ul.button-nav li a,
#buddypress div.generic-button a,
#buddypress .comment-reply-link,
a.bp-title-button,
#buddypress div.item-list-tabs ul li.selected a {
  color: #ffffff;
}
#bbpress-forums div.bbp-topic-content a:hover,
#buddypress button:hover,
#buddypress a.button:hover,
#buddypress input[type="submit"]:hover,
#buddypress input[type="button"]:hover,
#buddypress input[type="reset"]:hover,
#buddypress ul.button-nav li a:hover,
#buddypress div.generic-button a:hover,
#buddypress .comment-reply-link:hover,
a.bp-title-button:hover,
#buddypress div.item-list-tabs ul li.selected a:hover {
  color: #ffffff;
}


/* 13.5 Visual Composer
------------------------------------------------------ */
.scheme_dark.vc_row {
  background-color: #232315;
}
.scheme_light.vc_row {
  background-color: #f7f7f7;
}

/* 14. Predefined classes for users
---------------------------------------------------------------*/
.above_footer .sc_section_inner p {color: #ffffff;font-size:1.4286em;line-height:2.4286em; }
.theme_icon_block



/* 15. Shortcodes
-------------------------------------------------------------- */

/* Accordion */
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title {
  border-color: #f5f5f5;
    color: #33363e;
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
  color: #97979e;
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
  background-color: #f5f5f5;
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon_opened {
  color: #ffffff;
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_content {
  border-color: #e4e7e8;
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
  color: #ffffff;
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon {
  background-color: #ffffff;
}

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.sc_button.sc_button_style_filled {
  border: none;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.sc_button.sc_button_style_filled {
  color: #ffffff;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.sc_button.sc_button_style_filled:hover {
  color: #ffffff;
}

/* Blogger */
.sc_blogger.layout_date .sc_blogger_item::before {
  background-color: #f7f7f7;
}
.sc_blogger_item.sc_plain_item {
  background-color: #f7f7f7;
}
.sc_blogger .post_item_masonry h4.post_title {
    font-family: 'Montserrat';
    font-size: 1.2857em;
    font-weight: 700;
    line-height: 2em;
    margin-bottom: 0.1em;
}
.sc_blogger .post_item_masonry.post_item .post_readmore_label {
    font-weight: 700;
}





/* Call to Action */
.sc_call_to_action .sc_call_to_action_descr {
  color: #ffffff;
}
.sc_call_to_action_accented {
  color: #ffffff;
}
.sc_call_to_action_accented .sc_item_title,
.sc_call_to_action_accented .sc_item_subtitle,
.sc_call_to_action_accented .sc_item_descr {
  color: #ffffff;
}
.sc_call_to_action_accented .sc_item_button > a {

}
.sc_call_to_action_accented .sc_item_button > a:before {
  color: #ffffff;
}

/* Chat */
.sc_chat:after {
  background-color: #f7f7f7;
}
.sc_chat:after {
  border-color: #dddddd;
}
.sc_chat_inner {
  color: #8a8a8a;
}
.sc_chat_inner {
  background-color: #f7f7f7;
}
.sc_chat_inner {
  border-color: #dddddd;
}

/* Clients */
.sc_clients_style_clients-2 .sc_client_image .sc_client_hover {
  color: #ffffff;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  background-color: rgba(35, 42, 52, 0.8);
}
.sc_clients_style_clients-2 .sc_client_title,
.sc_clients_style_clients-2 .sc_client_title a {
  color: #ffffff;
  text-transform: capitalize;
}

/* Contact form */
.sc_form .sc_form_button button:hover {
  color: #ffffff;
}
.sc_form .sc_form_address_label,
.sc_form .sc_form_item > label {
  color: #232a34;
}
.sc_form .sc_form_item .sc_form_element input[type="radio"] + label:before,
.sc_form .sc_form_item .sc_form_element input[type="checkbox"] + label:before {
  border-color: #dddddd;
}
.sc_form .sc_form_item .sc_form_element input[type="radio"] + label:before,
.sc_form .sc_form_item .sc_form_element input[type="checkbox"] + label:before {
  background-color: #f7f7f7;
}
.sc_form_select_container {
  background-color: #f7f7f7;
}

/* picker */
.sc_form .picker {
  border-color: #dddddd;
  color: #fafafa;
  background-color: #f7f7f7;
}
.sc_form .picker__month,
.sc_form .picker__year {
    color: #232a34;
}
.sc_form .picker__nav--prev:before,
.sc_form .picker__nav--next:before {
	color: #8a8a8a;
}
.sc_form .picker__nav--prev:hover:before,
.sc_form .picker__nav--next:hover:before {
    color: #232a34;
}
.sc_form .picker__nav--disabled,
.sc_form .picker__nav--disabled:hover,
.sc_form .picker__nav--disabled:before,
.sc_form .picker__nav--disabled:before:hover {
    color: #acb4b6;
}
.sc_form table.picker__table th {
    color: #ffffff;
}
.sc_form .picker__day--infocus {
    color: #232a34;
}
.sc_form .picker__day--today,
.sc_form .picker__day--infocus:hover,
.sc_form .picker__day--outfocus:hover,
.sc_form .picker__day--highlighted:hover,
.sc_form .picker--focused .picker__day--highlighted {
    color: #232a34;
	background-color: #f0f0f0;
}
.sc_form .picker__day--disabled,
.sc_form .picker__day--disabled:hover {
    color: #acb4b6;
}
.sc_form .picker__day--highlighted.picker__day--disabled,
.sc_form .picker__day--highlighted.picker__day--disabled:hover {
    color: #acb4b6;
	background-color: #f0f0f0 !important;
}
.sc_form .picker__footer {
	border-color: #dddddd;
}
.sc_form .picker__button--today,
.sc_form .picker__button--clear,
.sc_form .picker__button--close {
    color: #8a8a8a;
}
.sc_form .picker__button--today:hover,
.sc_form .picker__button--clear:hover,
.sc_form .picker__button--close:hover {
    color: #232a34;
	background-color: #f0f0f0 !important;
}
.sc_form .picker__button--today[disabled],
.sc_form .picker__button--today[disabled]:hover {
    color: #acb4b6;
	background-color: #f0f0f0;
	border-color: #f0f0f0;
}
.sc_form .picker__button--today[disabled]:before {
    border-top-color: #acb4b6;
}

/* Time picker */
.sc_form .picker__list-item {
    color: #8a8a8a;
    border-color: #dddddd;
}
.sc_form .picker__list-item:hover,
.sc_form .picker__list-item--highlighted,
.sc_form .picker__list-item--highlighted:hover,
.sc_form .picker--focused .picker__list-item--highlighted,
.sc_form .picker__list-item--selected,
.sc_form .picker__list-item--selected:hover,
.sc_form .picker--focused .picker__list-item--selected {
    color: #232a34;
	background-color: #f0f0f0;
    border-color: #bbbbbb;
}
.sc_form .picker__list-item--disabled,
.sc_form .picker__list-item--disabled:hover,
.sc_form .picker--focused .picker__list-item--disabled {
    color: #acb4b6;
	background-color: #f7f7f7;
	border-color: #dddddd;
}


/* Countdown Style 1 */
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits {
  border-color: #dddddd;
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits {
  background-color: #f7f7f7;
}

/* Dropcaps */
.sc_dropcaps .sc_dropcaps_item {
  color: #ffffff;
}
.sc_dropcaps.sc_dropcaps_style_4 .sc_dropcaps_item {
  background-color: #f7f7f7;
    border-radius: 100%;
}
.sc_dropcaps.sc_dropcaps_style_2 .sc_dropcaps_item {
    border-radius: 100%;
}

/* Emailer */
.sc_emailer {
  border-color: #dddddd;
}

/* Highlight */
.sc_highlight_style_1 {
  color: #ffffff;
    padding: 0.3571em;
}
.sc_highlight_style_2 {
  color: #ffffff;
    padding: 0.3571em;
}

/* Icon */
.sc_icon_hover:hover,
a:hover .sc_icon_hover {
  color: #ffffff !important;
}
.sc_icon_shape_round.sc_icon,
.sc_icon_shape_square.sc_icon {
  color: #ffffff;
}
.sc_icon_shape_round.sc_icon:hover,
.sc_icon_shape_square.sc_icon:hover,
a:hover .sc_icon_shape_round.sc_icon,
a:hover .sc_icon_shape_square.sc_icon {
  background-color: #ffffff;
}

/* List */
.sc_list_style_iconed li .sc_list_title {
  color: #232a34;
}

/* Line */
.sc_line {
  border-color: #e4e7e8;
}

/* Price */
.sc_price .sc_price_currency,
.sc_price .sc_price_money,
.sc_price .sc_price_penny {
  color: #232a34;
}
.sc_price .sc_price_info {
  color: #acb4b6;
}

/* Price block */
.sc_price_block,
.sc_price_block .sc_price_block_money * {
  color: #ffffff;
}
.sc_price_block.sc_price_block_style_3 {
  background-color: #f7f7f7;
}
.sc_price_block.sc_price_block_style_3 .sc_price_block_link .sc_button:hover {
  background-color: #ef631f !important;
}

/* Services */
.sc_services {
  color: #8a8a8a;
}
.sc_services_item .sc_services_item_readmore {
  color: #232a34;
}
.sc_services_style_services-1 .sc_services_item {
  color: #8a8a8a;
}

.sc_services_style_services-3 a:hover .sc_icon,
.sc_services_style_services-3 .sc_icon:hover {
  background-color: #ffffff;
}
.sc_services_style_services-4 .sc_icon {
  color: #ffffff;
}
.sc_services_style_services-4 .sc_services_item_title {
  color: #232a34;
}

/* Scroll controls */
.sc_scroll_controls_wrap a {
  color: #ffffff;
}
.sc_scroll_controls_wrap a:hover {
  color: #ffffff;
}
.sc_scroll .sc_scroll_bar {
  border-color: #f7f7f7;
}

/* Skills */
.sc_skills_bar .sc_skills_item {
  background-color: #f7f7f7;
}
.sc_skills_counter .sc_skills_item .sc_skills_info {
  color: #232a34;
}
.sc_skills_legend_title,
.sc_skills_legend_value {
  color: #232a34;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 {
  background-color: #f7f7f7;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1:hover {
  background-color: #f0f0f0;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info {
  color: #232a34;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info:before {
  background-color: #dddddd;
}
.sc_skills_bar .sc_skills_item .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
  color: #ffffff;
}

/* Slider */
.sc_slider_controls_wrap a {
  color: #e4e7e8;
}
.sc_slider_controls_wrap a {
  border-color: #e4e7e8;
}
.sc_slider_controls_wrap a {
  background-color: #ffffff;
}
.sc_slider_controls_wrap a:hover {
  color: #ffffff;
}
.sc_slider_pagination.widget_area .post_item + .post_item {
  border-color: #e4e7e8;
}
.sc_slider_pagination_over .sc_slider_pagination {
  background-color: rgba(247, 247, 247, 0.8);
}
.sc_slider_pagination_over .sc_slider_pagination_wrap span {
  border-color: #e4e7e8;
}
.sc_slider_pagination_over .sc_slider_pagination .post_title {
  color: #232a34;
}
.sc_slider_pagination_over .sc_slider_pagination .post_info {
  color: #8a8a8a;
}
.sc_slider_pagination_area .sc_slider_pagination .post_item.active {
  background-color: #f7f7f7 !important;
}

/* Socials */
.sc_socials.sc_socials_type_icons a {
  color: #ffffff;
  border-color: #cbcbce;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #cbcbce;
}
.scheme_dark .sc_socials.sc_socials_type_icons a {
  color: #aaaaaa;
  border-color: #aaaaaa;
}
.scheme_light .sc_socials.sc_socials_type_icons a {
  color: #acb4b6;
  border-color: #acb4b6;
}
.top_panel_wrap .sc_socials.sc_socials_type_icons a {
    background-color: transparent;
}
.top_panel_wrap .sc_socials.sc_socials_type_icons a:hover {
    background-color: transparent;
}

/* Tabs */
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a {
  color: #232a34;
}
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a {
  border-color: #e4e7e8;
}
.sc_tabs.sc_tabs_style_1 .sc_tabs_content{
  border-color: #e4e7e8;
}
.widget_area_inner .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a {
    color: #979797;
    text-transform: uppercase;
    font-size:0.7857em ;
    font-weight: 700;
}

/* Team */
.sc_team_item .sc_team_item_info .sc_team_item_title a {
  color: #232a34;
}
.sc_team_style_team-1 .sc_team_item_info,
.sc_team_style_team-3 .sc_team_item_info {
  color: #8a8a8a;
}
.sc_team.sc_team_style_team-3 .sc_socials_item a {
  color: #ffffff;
}
.sc_team.sc_team_style_team-3 .sc_socials_item a {
  border-color: #ffffff;
}
.sc_team.sc_team_style_team-3 .sc_socials_item a:hover {
  color: #ffffff;
}
.sc_team.sc_team_style_team-3 .sc_socials_item a:hover {
  border-color: #ffffff;
}
.sc_team.sc_team_style_team-4 .sc_socials_item a {
  color: #ffffff;
}
.sc_team.sc_team_style_team-4 .sc_socials_item a {
  border-color: #ffffff;
}
.sc_team.sc_team_style_team-4 .sc_team_item_avatar .sc_team_item_hover {
  color: #ffffff;
}
.sc_team.sc_team_style_team-4 .sc_team_item_avatar .sc_team_item_hover {
  background-color: rgba(35, 42, 52, 0.8);
}
.sc_team_style_team-4 .sc_team_item_info .sc_team_item_title a {
  color: #ffffff;
}
.sc_team_style_team-4 .sc_team_item_info .sc_team_item_position {
  color: #ffffff;
}

/* Testimonials */
.sc_testimonials {
  color: #8a8a8a;
}
.sc_testimonial_author_name {
  color: #232a34;
    font-weight: bold;
    font-family: 'Asap';
}
.sc_testimonial_position_position {
  color: #acb4b6;
}
.scheme_dark .sc_testimonials,
.testimonials_wrap .sc_testimonials {
  color: #f0f0f0;
}
.scheme_dark .sc_testimonial_author_name,
.testimonials_wrap .sc_testimonial_author_name {
  color: #ffffff;
}
.scheme_dark .sc_testimonial_position_position,
.testimonials_wrap .sc_testimonial_position_position {
  color: #f0f0f0;
}

.sc_testimonials_style_testimonials-2 .sc_testimonial_author_name:before {
  color: #acb4b6;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_content,
.sc_testimonials_style_testimonials-3 .sc_testimonial_content:after {
  background-color: #f7f7f7;
}
.sc_testimonials_style_testimonials-4 .sc_testimonial_item {
  background-color: #ffffff;
}

/* Title */
.sc_title_underline::after {
  border-color: #232a34;
}
.sc_title_divider .sc_title_divider_before,
.sc_title_divider .sc_title_divider_after {
  background-color: #232a34;
}
.description p {    max-width: 60%;    margin-left: 20%;}




/* Toggles */
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title {
  border-color: #e4e7e8;
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
  color: #acb4b6;
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
  background-color: #f7f7f7;
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_opened {
  color: #ffffff;
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_content {
  border-color: #e4e7e8;
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
  color: #ffffff;
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon {
  background-color: #ffffff;
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_content {
  border-color: #e4e7e8;
}

/* Twitter */
.sc_twitter {
  color: #8a8a8a;
}
.scheme_dark .sc_twitter,
.twitter_wrap .sc_twitter {
  color: #f0f0f0;
}
.scheme_dark .sc_twitter a,
.twitter_wrap .sc_twitter a {
  color: #ffffff;
}
.sc_twitter .sc_slider_controls_wrap a {
  color: #ffffff;
}

/* Common styles (title, subtitle and description for some shortcodes) */
.sc_item_button > a:before {
  background-color: #ffffff;
}
