
@charset 'utf-8';
/*
 Theme Name:   Experia
 Theme URI:    http://goodenergy.themerex.net/
 Description:  Good Energy - Multipurpose and Multiskin Responsive Wordpress theme
 Author:       ThemeRex
 Author URI:   http://themerex.net/
 Template:     goodenergy
 Version:      1.0
 Tags:         light, inheritable theme-options
 Text Domain:  themerex
*/


@import url("../goodenergy/style.css");


/* =Theme customization starts here
-------------------------------------------------------------- */\
body {
    color: #8a8a8a !important;
}
.home1_slide1_2 {
	border:0px !important;
	padding:0px!important;
}
h2.sc_item_title::after,
.sc_title.styling2::after {
	background: transparent url(images/aftertitle.png) no-repeat !important;
}
.top_panel_middle .menu_main_wrap {
	padding-right: 0px !important;
}
.sc_parallax_content h2.sc_item_title::after,
.sc_parallax_content .sc_title.styling2::after {
	background: transparent url(images/aftertitle-white.png) no-repeat !important;
}
.description, .sc_item_descr {
	font-size: 16px !important;
	line-height: 1.2 !important;
}
.description p, .sc_item_descr {
    max-width: 70% !important;
    margin-left: 15% !important;
}
img {
	border-radius: 0px !important; 
}
h3 {
	line-height: 1.225em !important;
}

.sc_parallax_content .sc_skills_counter .sc_skills_title {
	color: #FFFFFF !important;
	margin-bottom: 50px;
}
.sc_parallax_content .sc_skills_counter .sc_skills_item .sc_skills_total,
.sc_parallax_content .sc_skills_counter .sc_skills_item .sc_skills_info {
	font-family: 'Roboto' !important;
    color: #FFFFFF !important;
}
.sc_parallax_content .sc_skills_counter .sc_skills_item .sc_skills_total {
	font-weight: 800;
}
.sc_parallax_content .sc_skills_counter .sc_skills_item .sc_skills_info {
	font-size: 0.925em
}
.sc_skills_counter .sc_skills_item.datacenters {
	background: transparent url(images/icons-datacenters.png) no-repeat top center !important;
	padding-top: 120px;
}
.sc_skills_counter .sc_skills_item.panels {
	background: transparent url(images/icons-panels.png) no-repeat top center !important;
	padding-top: 120px;
}
.sc_skills_counter .sc_skills_item.services {
	background: transparent url(images/icons-services.png) no-repeat top center !important;
	padding-top: 120px;
}
.top_panel_fixed .top_panel_wrap .logo,
.top_panel_fixed .top_panel_wrap .logo_fixed{
	margin-bottom: 0px;
}
.top_panel_fixed .menu_main_wrap {
	padding-top: 10px !important;
}
.vc_row.vc_row-fluid {
	margin-left: 0px;
	margin-right: 0px;
}
.top_panel_style_3 .page_title {
    padding: 0.5474em 0 0.5263em !important;
}
.home .menu_main_nav > li.current-menu-item > a {
	border: 0px !important;
}
.home .menu_main_nav > li.current-menu-item.blob_over > a {
	border-bottom: 2px solid #00B3E7 !important;
}
.rev_slider ul li {
    position: absolute !important;
}